<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create" class="active">Create User</a>

    </div>
    <div>
        <form action="/create-user" method="post">
            <fieldset>
                <div>
                    <label>Email: </label>
                    <input type="email" name="email" id="email">
                </div>
                <div>
                    <label>Name: </label>
                    <input type="text" name="name" id="name">
                </div>
                <div>
                    <label>City: </label>
                    <input type="text" name="city" id="city">
                </div>
                <br>
                <div>
                    <input type="submit" value="Submit">
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>